<div class="content">
    <h1>Edit your business!</h1>

    <%= render "form", is_edit: true, business: @business %>

    <a href="<%= business_url(@business.id) %>">Return to your business</a>
</div>