<div class="content">
    <a class="back" href="<%= user_url(@current_user) %>">Return to businesses</a>
    <h2>Create a new business!</h2>
    <%= render "form", is_edit: false, business: @business %>
</div>