<div class="content">
    <h1>Your Businesses</h1>

    <ul>
        <% unless @user.businesses.nil? %>
            <% @user.businesses.each do |business| %>
                <li>
                    <a href="<%= business_url(business) %>"><%= business.name %><br></a>
                    <%= link_to "Delete", business_url(business), method: 'DELETE' %>
                </li>
            <% end %>
        <% end %>
    </ul>

    <a href="<%= new_business_url %>">Create a new business!</a>
</div>