<div class="content">
    <a class="back" href="<%= business_url(@item.business_id) %>">Return to your business</a>
    <h2>Edit your item!</h2>
    <%= render "form", is_edit: true, item: @item %>
</div>