<div class="content">
    <a class="back" href="<%= business_url(@item.business_id) %>">Return to items</a>
    <h2>Create a new item!</h2>
    <%= render "form", is_edit: false, item: @item %>
</div>