<h1><%= @item.name %></h1>

<ul>
    <% unless @item.units.nil? %>
        <% @item.units.each do |unit| %>
            <li><%= unit["serial_number"] %></li>
        <% end %>
    <% end %>
</ul>

<a href="<%= new_item_unit_url(@item.id) %>">Add a unit</a>